name: Tests
on:
  workflow_call:
  pull_request:
    paths-ignore:
      - 'README.md'
  push:
    paths-ignore:
      - 'README.md'
    branches:
      - main
      - 'releases/**'
  # schedule:
  #   - cron: '0 13 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'
        id: go

      - name: Get dependencies
        run: |
          go mod download

      - name: Build
        run: |
          go build -v .

  test:
    name: Matrix Test
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        terraform:
          - '1.8.5'
          - '1.9.8'
          - '1.10.5'
          - '1.12.2'
        kestraVersion:
          - 'v1.0'
          - 'v1.1'
          - 'develop'

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}



      - name: Build the docker-compose stack
        env:
          APPLICATION_SECRETS: ${{ secrets.APPLICATION_SECRETS }}
        run: |
          echo $APPLICATION_SECRETS | base64 -d > .github/docker/application-secrets.yml
          
          sh init-tests-env.sh ${{ matrix.kestraVersion }}

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'
        id: go

      - name: Get dependencies
        run: |
          go mod download

      - name: Terraform acceptance tests
        timeout-minutes: 10
        env:
          TF_ACC: "1"
          TF_ACC_TERRAFORM_VERSION: ${{ matrix.terraform }}
          KESTRA_URL: "http://127.27.27.27:8080"
          KESTRA_USERNAME: root@root.com
          KESTRA_PASSWORD: Root!1234
        run: |
          go test -v -cover ./internal/...

      - name: Set up Terraform for E2E tests
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ matrix.terraform }}

      - name: Terraform E2E tests
        timeout-minutes: 10
        env:
          TF_ACC: "1"
          TF_ACC_TERRAFORM_VERSION: ${{ matrix.terraform }}
          KESTRA_URL: "http://127.27.27.27:8080"
          KESTRA_USERNAME: root@root.com
          KESTRA_PASSWORD: Root!1234
        run: |
          sh e2e-test.sh

      # Slack
      - name: Slack notification
        uses: 8398a7/action-slack@v3
        if: failure() && github.event_name != 'pull_request'
        with:
          status: ${{ job.status }}
          job_name: Matrix Test
          fields: repo,commit,action,ref,job,took
          username: GitHub Actions
          icon_emoji: ':github-actions:'
          channel: 'C02DQ1A7JLR'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          MATRIX_CONTEXT: ${{ toJson(matrix) }}
